services:
  - type: web
    name: brasil-fazendas
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: NPM_CONFIG_LEGACY_PEER_DEPS
        value: true
